Repository zcash/librustzcash, pull requests merged in 2024-07, with the labels that each got.

#1444 Add utility methods on `TestState` to dump the contents of a database table, or run an sqlite3 command
  zcash_client_sqlite/src/testing.rs
Labels: testing

#1257 Add support for transparent-source-only (TEX) addresses
  Cargo.lock
  Cargo.toml
  zcash_client_backend/CHANGELOG.md
  zcash_client_backend/proto/proposal.proto
  zcash_client_backend/src/data_api.rs
  zcash_client_backend/src/data_api/error.rs
  zcash_client_backend/src/data_api/wallet.rs
  zcash_client_backend/src/data_api/wallet/input_selection.rs
  zcash_client_backend/src/fees.rs
  zcash_client_backend/src/fees/common.rs
  zcash_client_backend/src/fees/fixed.rs
  zcash_client_backend/src/fees/standard.rs
  zcash_client_backend/src/fees/zip317.rs
  zcash_client_backend/src/proposal.rs
  zcash_client_backend/src/proto.rs
  zcash_client_backend/src/proto/proposal.rs
  zcash_client_backend/src/wallet.rs
  zcash_client_sqlite/CHANGELOG.md
  zcash_client_sqlite/Cargo.toml
  zcash_client_sqlite/src/error.rs
  zcash_client_sqlite/src/lib.rs
  zcash_client_sqlite/src/testing/pool.rs
  zcash_client_sqlite/src/wallet.rs
  zcash_client_sqlite/src/wallet/common.rs
  zcash_client_sqlite/src/wallet/db.rs
  zcash_client_sqlite/src/wallet/init.rs
  zcash_client_sqlite/src/wallet/init/migrations.rs
  zcash_client_sqlite/src/wallet/init/migrations/ephemeral_addresses.rs
  zcash_client_sqlite/src/wallet/init/migrations/receiving_key_scopes.rs
  zcash_client_sqlite/src/wallet/orchard.rs
  zcash_client_sqlite/src/wallet/sapling.rs
  zcash_client_sqlite/src/wallet/transparent.rs
  zcash_client_sqlite/src/wallet/transparent/ephemeral.rs
  zcash_primitives/CHANGELOG.md
  zcash_primitives/src/legacy/keys.rs
  zcash_primitives/src/transaction/builder.rs
  zcash_primitives/src/transaction/fees/transparent.rs
  zcash_primitives/src/transaction/fees/zip317.rs
Labels: A-wallet, C-zip-impl

#1466 Don't store transactions when creation of a subsequent transaction fails
  zcash_client_backend/src/data_api/wallet.rs
  zcash_client_sqlite/src/wallet/init/migrations/ephemeral_addresses.rs
Labels: A-wallet

#1469 Tell rust-analyzer to compile using stable
  .vscode/settings.json
Labels: L-rust

#1461 zcash_client_sqlite: Add `is_shielding` to `v_transactions` view
  zcash_client_sqlite/CHANGELOG.md
  zcash_client_sqlite/src/testing.rs
  zcash_client_sqlite/src/testing/pool.rs
  zcash_client_sqlite/src/wallet/db.rs
  zcash_client_sqlite/src/wallet/init/migrations/utxos_to_txos.rs
Labels: A-wallet

#1468 Use a single database transaction when storing transactions to be sent
  zcash_client_backend/CHANGELOG.md
  zcash_client_backend/src/data_api.rs
  zcash_client_backend/src/data_api/wallet.rs
  zcash_client_sqlite/src/lib.rs
  zcash_client_sqlite/src/wallet.rs
Labels: A-wallet, I-error-handling
